---
title: Concevoir les logiciels de demain
template: diapos
---

<section>
    <h1>Concevoir les logiciels de demain</h1>

    <footer>
        <p>
            Journées du Logiciel Libre (<abbr>JdLL</abbr>)
            ·
            07 avril 2019
        </p>

        <p class="text-secondary">
            <small>
                Marien Fressinaud
            </small>
        </p>
    </footer>
</section>

<section>
    <p>
        Le lien utile :<br />
        <del><a href="https://frama.link/logiciels-demain">frama.link/logiciels-demain</a></del><br />
        (le pad aura probablement expiré)
    </p>

    <p>
        <a href="../concevoir-les-logiciels-de-demain.html">transcription</a>,
        diapositives, prise de note collaborative,<br />
        vos questions et retours
    </p>

    <p class="text-secondary">
        <small><small>
            (les diapos sont surtout là pour faire joli)
        </small></small>
    </p>
</section>

<section>
    <section data-background-color="var(--main-color)" data-background-image="planete.jpg" data-background-opacity="0.4">
        <h2>Moi, super-héros…</h2>

        <p>… et développeur de sites statiques.</p>
    </section>

    <section>
        <img src="empreinte-carbone.jpg">
    </section>

    <section>
        <p>
            Mon usage du numérique <strong>respecte-t-il</strong> la planète ?
        </p>

        <p>
            Est-ce que je <strong>maîtrise</strong> réellement mon attention ?
        </p>

        <p>
            Mon logiciel <strong>appartient-il</strong> vraiment à tout le monde ?
        </p>

        <hr />

        <p>
            <em>Et vous, quels problèmes vous pose le numérique et aimeriez voir
                disparaître / résolu demain ?</em>
        </p>
    </section>
</section>

<section>
    <section data-background-color="var(--main-color)" data-background-image="maison.jpg" data-background-opacity="0.2">
        <h2>Cultivons notre jardin</h2>

        <p>Une vision (positive) du numérique de demain</p>
    </section>

    <section>
        <p>
            <em>Et vous, quels usages vous semble prendre tout leur sens dans
                le numérique ? Qu’est-ce qui vous fait vibrer là-dedans ?
                Et comment le concevriez-vous ?</em>
        </p>
    </section>
</section>

<section data-background-image="contributopia.jpg">
</section>

<section>
    <p>
        Crédits :
    </p>

    <ul>
        <li><a href="https://www.flickr.com/photos/annieroi/3548962280/">Annie Roi</a></li>
        <li><a href="https://www.flickr.com/photos/lefthandgergo/7844832096/">lefthandgergo</a></li>
        <li><a href="https://www.davidrevoy.com/">David Revoy</a></li>
    </ul>
</section>

<section class="speaker" data-background="var(--main-color)">
    <h2 class="speaker-name">Marien Fressinaud</h2>

    <p class="speaker-job"><small><code>undefined</code> Evangelist</small></p>

    <ul>
        <li>
            <a href="https://marienfressinaud.fr">marienfressinaud.fr</a>
        </li>
        <li>
            <a href="https://twitter.com/berumuron">@berumuron</a>
        </li>
    </ul>
</section>
