---
title: Ergogames, une histoire de pizzas
template: serie
---

<p>
    En début d’année, j’ai passé du temps à développer un mini-jeu pour les
    <a href="https://www.ergogames.fr">Ergogames</a>. Le principe des Ergogames
    est simple : faire découvrir des principes d’ergonomie à travers des jeux
    qui illustrent différents concepts. Ceux-ci sont conçus par deux anciennes
    collègues ergonomes, <a href="https://twitter.com/mgeorges_">Marion</a> et
    <a href="https://twitter.com/Margauxlergo">Margaux</a>, via l’agence de
    design <a href="https://twitter.com/UxShadow">uxShadow</a> de
    <a href="https://sogilis.com">Sogilis</a> (mon ancienne boite).
</p>

<p>
    Elles m’ont demandé si je pouvais leur donner un coup de main et j’ai
    accepté à condition que le code soit ouvert
    (<a href="https://gitlab.com/sogilis/ergogames.fr">ça se passe ici</a> 😊).
</p>

<p>
    J’ai donc développé le mini-jeu « <a href="https://www.ergogames.fr/game/pizzas">À vous les pizzas !</a> »
    en précisant bien que je n’avais jamais conçu de jeux mais que c’est pas
    grave, « je vais apprendre ». Du coup j’ai effectivement appris, et c’est
    ce cheminement que je souhaitais transmettre à travers cette
    série d’articles. J’y redéveloppe le jeu pas à pas, avec quelques adaptions
    pour essayer d’être aussi didactique que possible et de viser un public
    large, plutôt orienté débutant·es.
</p>
