---
title: Une histoire de pizzas, étape 5
template: game
---

<a href="../une-histoire-de-pizzas-5.html">Lire l’article associé</a>

<div id="app">
    <div class="board">
        <div v-for="y in size" :key="y" class="board-line">
            <div v-for="x in size" :key="x" class="board-cell">
            </div>
        </div>

        <div
          v-for="entity in store"
          :key="entity.id"
          :class="['board-cell-entity', entity.id]"
          :style="entityPosition(entity)"
        >
            <!-- On affiche une image si l'entité possède un composant "asset" -->
            <img
                v-if="entity.asset"
                :src="entity.asset"
                alt=""
                class="entity-asset"
            />

            <!--
                Ou bien un composant "assets", il faut alors calculer
                dynamiquement l'image à afficher.
            -->
            <img
                v-else-if="entity.assets"
                :src="entityAssetImage(entity)"
                alt=""
                class="entity-asset"
            />

            <!-- Sinon, on continue d'afficher le label -->
            <div v-else-if="entity.label" class="entity-label">
                {{ entity.label }}
            </div>
        </div>

        <a href="#" @click="onBoardClick" class="board-click-zone"></a>
    </div>
</div>

<script>
    const BOARD_SIZE = 6;

    const CSS_CELL_SIZE = 128;

    let gameStore = [
        // On se contente d'ajouter un composant "asset" ou "assets" à chacune
        // de nos entités. Il s’agit juste d'une URL vers une image.
        // "assets" permet d'associer plusieurs images, la bonne sera choisie
        // dynamiquement lors de l'affichage.
        {
            id: 'meiko',
            label: 'Meiko',
            assets: {
                bottom: 'assets/meiko-face.svg',
                right: 'assets/meiko-droite.svg',
                left: 'assets/meiko-gauche.svg',
                top: 'assets/meiko-dos.svg',
            },
            size: { width: 1, height: 1 },
            position: { x: 3, y: 2 },
            // On ajoute également un composant "direction" à Meiko
            direction: 'bottom',
            obstruct: true,
        },

        {
            id: 'mozza',
            label: 'Mozzarella',
            asset: 'assets/pot-mozzarella.svg',
            size: { width: 1, height: 1 },
            position: { x: 1, y: 3 },
        },
        {
            id: 'tomato',
            label: 'Sauce tomate',
            asset: 'assets/sauce-tomate.svg',
            size: { width: 1, height: 1 },
            position: { x: 2, y: 5 },
        },
        {
            id: 'dough',
            label: 'Pâte à pizza',
            asset: 'assets/pate-pizza-boule.png',
            size: { width: 1, height: 1 },
            position: { x: 5, y: 3 },
        },

        {
            id: 'oven',
            label: 'Four',
            asset: 'assets/four.svg',
            size: { width: 2, height: 1 },
            position: { x: 1, y: 0 },
            obstruct: true,
        },
        {
            id: 'hatch',
            label: 'Passe-plat',
            asset: 'assets/passeplat.svg',
            size: { width: 1, height: 1 },
            position: { x: 5, y: 0 },
            obstruct: true,
        },
        {
            id: 'fridge',
            label: 'Frigo',
            asset: 'assets/refrigirateur.svg',
            size: { width: 2, height: 2 },
            position: { x: 0, y: 2 },
            obstruct: true,
        },
        {
            id: 'workplan',
            label: 'Plan de travail',
            asset: 'assets/plan-travail.svg',
            size: { width: 1, height: 2 },
            position: { x: 5, y: 2 },
            obstruct: true,
        },
        {
            id: 'shelf',
            label: 'Étagère',
            asset: 'assets/etagere-horizontale.svg',
            size: { width: 4, height: 1 },
            position: { x: 2, y: 5 },
            obstruct: true,
        },
    ];

    const app = new Vue({
        el: '#app',
        data: {
            size: BOARD_SIZE,
            store: gameStore,
        },

        methods: {
            entityPosition(entity) {
                if (entity.size == null || entity.position == null) {
                    return {};
                }

                return {
                    width: (entity.size.width * CSS_CELL_SIZE) + 'px',
                    height: (entity.size.height * CSS_CELL_SIZE) + 'px',
                    top: (entity.position.y * CSS_CELL_SIZE) + 'px',
                    left: (entity.position.x * CSS_CELL_SIZE) + 'px',
                };
            },

            // Cette méthode JS calcule dynamiquement l'image à afficher pour
            // les entités possédant un composant "assets"
            entityAssetImage(entity) {
                if (entity.assets == null || entity.direction == null) {
                    return '';
                }

                // Comme le composant "assets" est indexé par les directions,
                // récupérer la bonne image se fait très facilement. Ce code
                // n’est pas très robuste mais comme le jeu est très simple
                // avec peu de contributeurices, on peut s’en contenter pour
                // l'instant.
                return entity.assets[entity.direction];
            },

            onBoardClick(e) {
                this.store = onClickSystem(e, this.store);
            },
        },
    });

    function onClickSystem(e, store) {
        e.preventDefault();

        const x = Math.ceil(e.layerX / CSS_CELL_SIZE) - 1;
        const y = Math.ceil(e.layerY / CSS_CELL_SIZE) - 1;

        const position = { x, y };

        if (
            position.x < 0 ||
            position.x >= BOARD_SIZE ||
            position.y < 0 ||
            position.y >= BOARD_SIZE
        ) {
            return store;
        }

        // Notre code doit s'exécuter avoir vérifié que Meiko peut accéder à la
        // case ciblée, sinon il ne doit pas bouger du tout.
        const meiko = getEntity(store, 'meiko');
        if (!positionIsAccessibleFor(meiko, position)) {
            return store;
        }

        // On veut désormais changer la direction de Meiko : il suffit de
        // comparer sa position à la position de la case ciblée pour savoir
        // vers où Meiko doit se tourner.
        let direction = meiko.direction;
        if (position.x > meiko.position.x) { direction = 'right'; }
        else if (position.x < meiko.position.x) { direction = 'left'; }
        else if (position.y < meiko.position.y) { direction = 'top'; }
        else if (position.y > meiko.position.y) { direction = 'bottom'; }
        let updatedStore = setEntityComponents(store, meiko.id, { direction });

        // On fait bien attention à utiliser le updatedStore à partir d’ici au
        // lieu du store sinon Meiko ne se tournera pas.
        const entitiesAtPosition = searchEntitiesAt(updatedStore, position);
        if (entitiesAtPosition.some((entity) => entity.obstruct)) {
            return updatedStore;
        }

        updatedStore = setEntityComponents(updatedStore, meiko.id, { position });

        return updatedStore;
    }

    function getEntity(store, id) {
        return store.find((entity) => entity.id === id) || null;
    }

    function setEntityComponents(store, id, components) {
        return store.map((entity) => {
            if (entity.id !== id) {
                return entity;
            }
            return {
                ...entity,
                ...components,
            };
        });
    }

    function positionIsAccessibleFor(entity, position) {
        if (entity.position == null) {
            return false;
        }

        const diff_x = Math.abs(entity.position.x - position.x);
        const diff_y = Math.abs(entity.position.y - position.y);
        return (diff_x === 1 && diff_y === 0) || (diff_x === 0 && diff_y === 1);
    }

    function searchEntitiesAt(store, position) {
        return store.filter((entity) => {
            if (entity.position == null) {
                return false;
            }

            if (entity.size == null) {
                return (
                    entity.position.x === position.x &&
                    entity.position.y === position.y
                );
            }

            return getCoveredPositionsBy(entity).some((coveredPosition) => (
                coveredPosition.x === position.x &&
                coveredPosition.y === position.y
            ));
        });
    }

    function getCoveredPositionsBy(entity) {
        const coveredPositions = [];

        for (const w of Array(entity.size.width).keys()) {
            for (const h of Array(entity.size.height).keys()) {
                coveredPositions.push({
                    x: entity.position.x + w,
                    y: entity.position.y + h,
                });
            }
        }
        return coveredPositions;
    }
</script>

<style type="text/css">
    #app {
        --board-size: 6;
        --cell-size: 128px;

        --color-floor: #fff;
        --color-floor-border: #ccc;
    }

    * {
        box-sizing: border-box;
    }

    .board-line {
        display: flex;
    }

    .board-cell {
        width: var(--cell-size);
        height: var(--cell-size);

        background-color: var(--color-floor);
        border: 1px solid var(--color-floor-border);
    }

    .board {
        position: relative;
        width: calc(var(--board-size) * var(--cell-size));
    }
    .board-cell-entity {
        position: absolute;
    }

    .board-click-zone {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }

    /*
        On vire quasiment tout le CSS concernant les entités (sauf les z-index)
        et on le remplace par... seulement ce max-width pour éviter que les
        images débordent des cases. Vous vous attendiez à plus de CSS ? :)
    */
    .board-cell-entity img {
        max-width: 100%;
    }

    /* Bon OK, on en ajoute un pour que la mozza ne déborde pas trop du frigo */
    .board-cell-entity.mozza img {
        max-width: 85%;
    }

    .board-cell-entity.dough,
    .board-cell-entity.mozza,
    .board-cell-entity.tomato {
        z-index: 10;
    }

    .board-cell-entity.meiko {
        z-index: 20;
    }
</style>

<!-- \_o< \_o< \_o< \_o< \_o< \_o< \_o< \__o- -->
