---
title: Cycles de travail
template: methodes
---

<p>
    Afin de m’organiser et de me concentrer, j’ai mis en place des cycles de
    travail. Un cycle de travail <strong>se déroule sur une période de six
        semaines</strong> et est composé de un à trois objectifs que je me fixe
    en début de cycle. À partir de ces objectifs, je peux ainsi définir le
    travail que je vais effectuer durant les six semaines.
</p>

<p>
    Un objectif doit être concret. Il s’agit souvent pour moi d’un projet à
    mener à son terme. Voici quelques exemples d’objectifs :
</p>

<ul>
    <li>terminer et mettre un site en ligne ;</li>
    <li>donner une conférence ;</li>
    <li>faire du pain au moins 3 fois au cours des 6 prochaines semaines ;</li>
    <li>faire du ménage de printemps dans l’appartement ;</li>
    <li>etc.</li>
</ul>

<p>
    Je suis plus ou moins flexible sur la formulation des objectifs, mais il
    est à noter que plus l’objectif est vague (comme le dernier exemple) et
    plus il sera compliqué de savoir quand l’objectif sera terminé. J’essaye
    donc d’être vigilant à être le plus clair possible.
</p>

<p>
    Pour assurer le suivi du cycle, j’utilise conjoitement 2 outils :
</p>

<ul>
    <li><a href="https://lessy.yuzu.ovh">Lessy</a> qui me permet d’être sûr d’avancer
        sur mes objectifs ;</li>
    <li>et un tableur qui me permet de planifier mes 6 semaines de travail.</li>
</ul>

<p>
    Chaque semaine, je prévois au moins une journée « structurelle » qui me
    permet de régler tout un tas de petites choses. C’est une journée « libre »
    dans le sens où elle n’est pas dédiée à un objectif spécifique. Le reste
    des journées de la semaine est distribué entre « commanditaires ».
</p>

<p>
    Le ou la commanditaire est <strong>la personne ou la structure pour « qui »
        je travaille</strong>. Dans mon cas il peut s’agir par exemple de
    <a href="https://framasoft.org/fr/">Framasoft</a>,
    <a href="https://grenopolitains.fr/">des Grenopolitains</a> ou… de
    moi-même. Comme j’attache chaque objectif à un commanditaire et que chaque
    journée est dédiée à l’un d’eux, je m’assure d’accorder du temps à mes
    objectifs.
</p>

<p>
    L’importance que je trouve dans l’identification des commanditaires est que
    je peux plus aisément savoir si le temps que j’accorde à telle ou telle
    structure est équilibré vis-à-vis des autres. Cela m’a permis notamment de
    ne pas m’épuiser en apprenant à dire « non » lorsqu’on me proposait de
    travailler sur un nouveau projet.
</p>

<p>
    Enfin, chaque journée étant dédiée à un commanditaire et théoriquement à
    un objectif, je choisis dans Lessy en début de journée les tâches qui me
    feront avancer sur cet objectif.
</p>

<p>
    Pour préparer tout ça, j’ai commencé par découper l’année à venir par
    sections de 6 semaines (les cycles donc). J’ai ensuite identifié la liste
    de commanditaires (liste qui évolue bien entendu au fil du temps). Enfin
    j’ai préparé le cycle à venir en définissant des objectifs liés à des
    commanditaires et en répartissant les jours du cycle par commanditaires
    (sans oublier une journée structurelle par semaine). Chaque cycle est
    préparé sur une journée, au début de celui-ci.
</p>

<p class="bas-de-page">
    <a class="appel-a-action" href="./index.html">Revenir aux méthodes</a>
</p>
