---
title: Méthodes de travail
template: methodes
---

<p>
    Cet espace de mon site est destiné à partager mes méthodes de travail
    actuelles. J’ai ressenti le besoin de les poser par écrit afin de les
    clarifier et me donner une base pour les améliorer. Pour le contexte, je
    suis au chômage depuis décembre 2018 et j’ai eu peur de me vautrer dans les
    séries et jeux vidéos sur le long terme. J’ai donc décidé de me fixer un
    cadre pour avancer sur des projets bénévoles et, désormais, sur
    <a href="../mon-futur-service-de-veille.html">mon projet de création
        d’entreprise</a>. Ces projets sont principalement informatiques, je
    suis donc amené à passer beaucoup de temps sur le <abbr>PC</abbr> et donc
    sujet à de nombreuses distractions ; cela s’ajoute à mon besoin de me
    donner un cadre clair d’organisation.
</p>

<p>
    Les quelques méthodes qui suivent ne sont que le résultat de mes propres
    expériences de travail, elles sont évidemment amenées à évoluer
    régulièrement. Voyez-les comme une boite à outils dans laquelle vous pouvez
    venir puiser, en espérant qu’elles vous soient utiles. Il ne s’agit en
    aucun cas de solutions magiques, tout processus nécessite un minimum
    d’efforts pour être efficace ; ces méthodes ne dérogent pas à la règle.
</p>

<ul>
    <li><a href="./cycles.html">Cycles de travail</a></li>
    <li><a href="./pomodoro.html">Pomodoro</a></li>
    <li><a href="./pauses.html">Pauses</a></li>
    <li><a href="./retrospectives.html">Rétrospectives</a></li>
</ul>
