---
title: Pauses
template: methodes
---

<p>
    Lorsqu’on passe ses journées sur le <abbr>PC</abbr>, il est important de
    savoir prendre régulièrement des pauses déconnectées. Il m’est toutefois
    parfois compliqué de prendre de telles pauses lorsque je travaille. J’ai
    identifié essentiellement deux cas de figures.
</p>

<p>
    La première situation est celle où je me sens particulièrement efficace
    dans ce que je suis en train de faire. Je n’ai souvent pas envie de
    casser ce « flux de travail », persuadé qu’il peut être compliqué de le
    retrouver ensuite. Toutefois, comme je travaille seul depuis chez moi, j’ai
    réalisé que je n’avais pas de mal à me mettre dans de bonnes conditions de
    travail ; je n’ai ainsi pas de soucis à casser ce fameux « flux ». Je me
    suis mis à appliquer la méthode <a href="./pomodoro.html">Pomodoro</a> qui
    force à prendre une pause de 5 à 15 minutes toutes les 25 minutes de
    travail. Cette pause me permet de reposer mes poignets qui sont soumis à de
    fortes tensions à cause du clavier. C’est aussi souvent l’occasion de faire
    un brin de ménage dans l’appartement ou de faire la vaisselle ; en bref,
    toutes les petites tâches que j’aurais tendance à repousser autrement.
</p>

<p>
    La deuxième situation où j’ai du mal à partir en pause concerne, de façon
    un peu étrange, le cas inverse : celui où je suis totalement inefficace. Il
    s’agit de ces moments où l’on sait que l’on doit faire quelque chose mais
    qu’on n’a pas le goût de s’y mettre. C’est souvent dans cette situation que
    l’on finit par glander sur les réseaux sociaux ou sur une page Wikipédia
    quelconque. Et comme le cerveau est parti faire quelque chose ailleurs, il
    ne se rend bien souvent pas compte qu’il a besoin de souffler loin du
    <abbr>PC</abbr>. J’essaye toutefois de m’en rendre compte le plus tôt
    possible (et je m’en sors de mieux en mieux avec le temps) pour changer
    d’environnement. C’est alors l’occasion de couper la musique, éteindre
    l’ordinateur et sortir faire un tour. Il peut m’arriver de prendre un
    carnet ou une feuille avec moi pour y noter tout ce qui me tracasse et
    m’empêche d’avancer dans mes tâches. Je profite de ce temps pour remettre
    de l’ordre dans mes priorités. L’effet est souvent bénéfique, quoique pas
    miraculeux non plus.
</p>

<p class="bas-de-page">
    <a class="appel-a-action" href="./index.html">Revenir aux méthodes</a>
</p>
