---
title: Pomodoro
template: methodes
---

<p>
    J’ai longtemps été séduit par <a href="https://fr.wikipedia.org/wiki/Technique_Pomodoro">la
    méthode Pomodoro</a> sans vraiment trop savoir comment l’appliquer. Pour
    rappel, selon Wikipédia, la méthode se déroule de cette manière :
</p>

<ol>
    <li>décider de la tâche à effectuer ;</li>
    <li>régler le pomodoro (minuteur) sur 25 minutes ;</li>
    <li>travailler sur la tâche jusqu'à ce que le minuteur sonne et la noter comme faite ;</li>
    <li>prendre une courte pause (5 minutes) ;</li>
    <li>tous les quatre pomodori prendre une pause un peu plus longue (15-20 minutes).</li>
</ol>

<p>
    Je l’ai en fait d’abord utilisé comme un outil pour me motiver à travailler
    sur des tâches particulières. Ça ne marche évidemment pas car ce n’est pas
    un outil qui rend une tâche attirante. Elle peut néanmoins permettre de se
    lancer et aider à réaliser que cette tâche n’est peut-être pas si
    compliquée qu’elle en avait l’air. Mais si l’envie n’est pas là, l’esprit
    aura tendance à divaguer quoi qu’il en soit, Pomodoro ou non.
</p>

<p>
    Aujourd’hui, je m’assure en amont que la tâche sur laquelle je souhaite
    travailler m’intéresse. Soit cela se fait naturellement, soit je profite
    <a href="./pauses.html">d’une pause</a> qui m’offre du temps pour penser un
    problème. La technique Pomodoro canalise ensuite mon énergie sur cette
    tâche particulière tout en m’assurant de ne pas fonctionner en mode
    « tunnel » grâce aux pauses de 5 à 15 minutes.
</p>

<p>
    La méthode Pomodoro me permet ainsi de rythmer mes journées.
</p>

<p class="bas-de-page">
    <a class="appel-a-action" href="./index.html">Revenir aux méthodes</a>
</p>
