/* Section structure générale */
:root {
    --main-color: #2a2230;
    --link-color: #a6253a;
}

html {
    color: var(--main-color);
    font-size: 18px;
    line-height: 1.4;
}

@media(min-width: 40rem) {
    html {
        font-size: 24px;
    }
}

/* Section liens */
a {
    color: var(--link-color);
}

/* Section principale des pages */
.page {
    padding-left: 5rem;
    padding-right: 5rem;
}

.page #app {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
