/* Section polices */

/* latin-ext */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(fonts/source-serif-pro-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(fonts/source-serif-pro.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Section structure générale */
* {
    box-sizing: border-box;
}

:root {
    color-scheme: light;

    --color-text: #2a2230;
    --color-text-muted: #665e6c;
    --color-primary: #c02b43;
    --color-primary-shadow: #f7e4e8;
    --color-link: #a6253a;
    --color-contrast: #f8f6ff;

    --color-footer-text: var(--color-contrast);
    --color-footer-back: var(--color-primary);
    --color-footer-border: var(--color-text);

    --color-code-text: #f8f6ff;
    --color-code-back: #100d13;
}

@media(prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --color-text: #f8edef;
        --color-text-muted: #bb8e97;
        --color-primary: #c02b43;
        --color-primary-shadow: #3e2331;
        --color-link: #d9acae;
        --color-contrast: #2a2230;

        --color-footer-text: var(--color-text);
        --color-footer-back: #100d13;
        --color-footer-border: #100d13;
    }
}

.theme-sombre {
    color-scheme: dark;

    --color-text: #f8edef;
    --color-text-muted: #bb8e97;
    --color-primary: #c02b43;
    --color-primary-shadow: #3e2331;
    --color-link: #d9acae;
    --color-contrast: #2a2230;

    --color-footer-text: var(--color-text);
    --color-footer-back: #100d13;
    --color-footer-border: #100d13;
}

.theme-clair {
    color-scheme: light;

    --color-text: #2a2230;
    --color-text-muted: #665e6c;
    --color-primary: #c02b43;
    --color-primary-shadow: #f7e4e8;
    --color-link: #a6253a;
    --color-contrast: #f8f6ff;

    --color-footer-text: var(--color-contrast);
    --color-footer-back: var(--color-primary);
    --color-footer-border: var(--color-text);
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

    color: var(--color-text);
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    line-height: 1.4;

    background-color: var(--color-contrast);
}

@media(min-width: 800px) {
    html {
        font-size: 24px;
    }
}

/* Section typographie */
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 1rem;

  word-wrap: break-word;
}

h1 {
  margin-bottom: 1.5rem;
}

h1 { font-size: 1.75rem; line-height: 2rem; }
h2 { font-size: 1.5rem; line-height: 2rem; }
h3 { font-size: 1rem; line-height: 1.5rem; }

* + h1,
* + h2,
* + h3 {
  margin-top: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul:last-child,
ol:last-child,
dl:last-child {
  margin-bottom: 0;
}
p + ul,
p + ol,
p + dl,
p + table {
  margin-top: -.5rem;
}

.footnote {
    margin-bottom: 2rem;

    font-size: .9em;
}

.footnote ol li + li {
    margin-top: .5rem;
}

blockquote {
    position: relative;

    margin-left: 0;
    padding: .5rem 2rem;

    background-color: var(--color-primary-shadow);
    border-left: .25rem solid var(--color-primary);
}

blockquote::before {
    position: absolute;
    top: .5rem;
    left: .5rem;

    color: var(--color-primary);
    font-size: 2em;
    font-weight: bold;

    content: "\201C";
}

code {
  padding: 0.1rem .25rem;

  font-size: .8rem;

  background-color: var(--color-primary-shadow);
  border-radius: 0.25rem;
}
code.color-primary {
  color: var(--color-contrast);
  background-color: var(--color-text);
}
code.color-primary-muted {
  color: var(--color-contrast);
  background-color: var(--color-text-muted);
}
code.color-secondary {
  color: var(--color-contrast);
  background-color: var(--color-primary);
}
code.color-link {
  color: var(--color-contrast);
  background-color: var(--color-link);
}
code.color-contrast {
  color: var(--color-text);
  background-color: var(--color-contrast);
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: .5rem 1rem;

  overflow: auto;

  font-size: 0.9rem;
  color: var(--color-contrast);

  background-color: var(--color-text);
  border-top: 4px solid var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
}

pre code {
  padding: 0;

  color: var(--color-contrast);

  background-color: transparent;
  border: none;
}

.highlight pre {
    background-color: var(--color-code-back);
}

.highlight pre code {
    color: var(--color-code-text);
}

hr {
    width: 50%;
    margin: 2em 0;

    border: none;
    border-top: 4px solid var(--color-primary);
}

@media(min-width: 50rem) {
    hr {
        width: 33%;
    }
}

.texte-secondaire {
    color: var(--color-text-muted);
}

/* Section tableaux */
table {
    margin-bottom: 1rem;

    border-collapse: collapse;
}

@media(min-width: 40rem) {
    table {
        min-width: 30rem;
    }
}

th {
    padding: 0.25rem 0.75rem;

    background-color: var(--color-primary);

    color: var(--color-contrast);
    text-align: left;
}

tr:nth-child(even) {
    background-color: var(--color-primary-shadow);
}

td {
    padding: 0.25rem 0.75rem;

    border-bottom: 1px solid var(--color-text-muted);
}

/* Section images */
img {
    max-width: 100%;
}

/* Section liens */
a {
    color: var(--color-link);
}

h1 a {
    color: var(--color-text);
    text-decoration: none;
}

a.appel-a-action {
    display: inline-block;
    padding: .5rem 1rem;

    color: var(--color-link);
    text-decoration: none;

    background-color: var(--color-contrast);
    border: 2px solid var(--color-link);
    border-radius: 0.25rem;

    transition: all 0.2s ease;
}
a.appel-a-action:hover {
    color: var(--color-contrast);

    background-color: var(--color-link);
}

a[href^="http://"],
a[href^="https://"]:not([href^="https://marienfressinaud.fr"]) {
    padding-right: 15px;

    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath fill='%23fff' stroke='%2336c' d='M1.5 4.518h5.982V10.5H1.5z'/%3E%3Cpath fill='%2336c' d='M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z'/%3E%3Cpath fill='%23fff' d='m9.995 2.004.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z'/%3E%3C/svg%3E%0A");
    background-position: center right;
    background-repeat: no-repeat;
}

/* Section conteneur */
.conteneur {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.conteneur-texte p,
.conteneur-texte ul,
.conteneur-texte ol,
.conteneur-texte blockquote,
.conteneur-texte h1,
.conteneur-texte h2,
.conteneur-texte h3 {
    max-width: 30rem;
}

/* Section en-tête des pages */
.page > header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
}
.page > header .conteneur {
    display: flex;
    align-items: center;
}
.page > header .conteneur .separateur {
    flex-grow: 1;
}
.page > header a {
    color: var(--color-text);
    font-size: 1.2rem;
}
.page > header a.accueil {
    font-weight: bold;
    text-decoration: none;
}

/* Section principale des pages */
.page > main {
    padding-bottom: 4rem;
}

/* Section liée au bouton "haut de page" */
.page #la-haut {
    position: absolute;
    top: 0;
    right: 0;

    height: 100vh;
    width: 1px;
}

.page #la-haut button {
    position: fixed;
    bottom: 0.8rem;
    left: 50%;
    transform: translateX(-50%);

    padding: .5rem 1rem;

    opacity: 1;
    visibility: visible;

    transition: all 0.2s ease;

    color: var(--color-text);
    font-size: 0.9rem;

    background-color: var(--color-contrast);
    border: 0.15em solid var(--color-text);
    border-radius: 2rem;
}
.page #la-haut button::after {
    padding-left: .25rem;

    content: "🎈";
}
.page #la-haut button:hover {
    color: var(--color-contrast);

    background-color: var(--color-text);
}
.page #la-haut.entrecoupant button {
    opacity: 0;
    visibility: hidden;
}

/* Section changeur de thème */
#theme-changeur {
    margin-top: 1rem;

    font-style: normal;
}

.page--index #theme-changeur {
    float: right;

    display: inline-block;
    margin-top: -0.15rem;
    padding-left: 1rem;
}

#theme-changeur select {
    padding: 0.25rem;

    font-size: 0.9em;
}

/* Section pied de page des pages */
.page > footer {
    padding-top: 4rem;
    padding-bottom: 4rem;

    color: var(--color-footer-text);
    font-size: 0.9em;
    text-align: center;
    font-style: italic;

    background-color: var(--color-footer-back);
    border-bottom: 2rem solid var(--color-footer-border);
}
.page > footer a {
    color: var(--color-footer-text);
}
.page > footer .conteneur section {
    margin-bottom: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

/* Section page d'accueil */
.page--index {
    display: flex;
    min-height: 100vh;

    flex-direction: column;
    justify-content: center;
}

.page--index main {
    padding-bottom: 0;
}

.page--index .conteneur {
    max-width: 60ch;
}

.page--index h1 {
    margin-bottom: 1em;

    font-size: 1.2em;
    line-height: 1em;
}

/* Section pages du blog */
.blog-series {
    display: flex;
    margin-bottom: 1rem;
    padding-left: 0;

    flex-direction: column;

    list-style: none;
}
.blog-serie {
    margin-bottom: 1rem;

    text-align: center;
}
.blog-serie a {
    display: block;
    height: 100%;
    padding: 1rem;

    text-decoration: none;

    background-color: var(--color-primary-shadow);
    border: 2px solid var(--color-primary-shadow);
    border-radius: 0.25rem;

    transition: background-color 0.2s ease-in-out;
}
.blog-serie a:hover {
    background-color: transparent;
}
.blog-serie .blog-serie-nombre {
    display: block;
    margin-top: 0.5rem;

    color: var(--color-text-muted);
    font-size: .9rem;
}

@media(min-width: 800px) {
    .blog-series {
        margin-right: -.5%;
        margin-left: -.5%;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .blog-serie {
        width: 30%;
        margin-right: .5%;
        margin-left: .5%;
    }
}

.blog-article {
    margin-bottom: 1rem;
}
.blog-article-date {
    display: block;
    font-size: .9rem;
}

@media(min-width: 800px) {
    .blog-article-date {
        display: inline-block;
        width: 7rem;
        padding-right: .5rem;

        text-align: right;
    }
}

@media(max-width: 800px) {
    .blog-article-titre {
        font-size: 1.1rem;
    }
}

.conteneur-texte ul.liste-flux {
    max-width: none;
}

.contenu-article img {
    box-shadow: 0 0 2px 3px var(--color-primary-shadow);
    border-radius: 0.25rem;
}

.article-meta {
    font-size: 0.9em;
    font-style: italic;
}

.bas-de-page,
.article-vers-blog {
    margin-top: 4rem;

    text-align: center;
}
.article-vers-blog a::after {
    padding-left: .25rem;

    content: "📖";
}
