---
title: Mentions légales
blog: false
---

<main class="contenu-mentions-legales conteneur conteneur-texte">
    <h1>Mentions légales</h1>

    <h2>Hébergeur</h2>

    <p>
        L’hébergement de ce site est assuré par OVH, siège social au 2 rue
        Kellermann, 59100 Roubaix (France). Site&nbsp;: <a href="https://www.ovh.com">ovh.com</a>.
    </p>

    <h2>Éditeur</h2>

    <p>
        Ce site est conçu et édité par Marien Fressinaud. Vous pouvez
        <a href="contact.html">me contacter par-là</a> pour toute question
        concernant ce site.
    </p>

    <h2>Licence</h2>

    <p>
        Sauf mention contraire, le <a href="https://framagit.org/marienfressinaud/marienfressinaud.fr/">contenu de ce site</a>
        est placé sous licence <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
        Vous pouvez par conséquent le partager et l’adapter à condition de me
        créditer selon les termes de la licence.
    </p>

    <h2>Traitement des données</h2>

    <p>
        Pour me conformer à la loi, sachez que votre adresse
        <abbr title="Internet Protocol">IP</abbr> est automatiquement
        enregistrée dans un journal d’évènements (on parle aussi de fichier de
        logs). Cette adresse est associée aux pages que vous visitez, ainsi que
        l’heure d’accès et votre « <i lang="en">user agent</i> » (c’est-à-dire
        le type de client Internet que vous utilisez). Par exemple :
    </p>

    <div class="hightlight">
        <pre><code>127.0.0.1 - - [04/Mar/2022:15:58:52 +0100] "GET /mentions-legales.html HTTP/2.0" 200 1839 "https://marienfressinaud.fr/" "Mozilla/5.0 (X11; Linux x86_64; rv:98.0) Gecko/20100101 Firefox/98.0"</code></pre>
    </div>

    <p>
        En plus de l’obligation légale, ces informations peuvent être utilisées
        dans un cadre technique pour comprendre l’origine d’une erreur sur le
        serveur (intérêt légitime). En pratique, ça ne m’est presque jamais
        arrivé en plus de 12 ans que je possède ce nom de domaine.
    </p>

    <p>
        Ces données sont automatiquement supprimées après un délai de 14 jours.
    </p>
</main>
