<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ PAGE_TITLE }} / {{ SITE_TITLE }}</title>
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="stylesheet" href="{{ SITE_URL }}style/herisson.css">
        {% if SITE_ENVIRONMENT != 'development' %}
            <script type="text/javascript" src="{{ SITE_URL }}scripts/turbolinks.5.2.0.min.js" defer async></script>
        {% endif %}
        <script type="text/javascript" src="{{ SITE_URL }}scripts/retour-en-haut.js" defer></script>
        <script type="text/javascript" src="{{ SITE_URL }}scripts/theme-changeur.js" defer></script>
    </head>

    <body class="page h-feed">
        <header>
            <div class="conteneur">
                <a class="accueil p-author h-card" rel="author" href="{{ SITE_URL }}index.html">{{ SITE_TITLE }}</a>
            </div>
        </header>

        <main class="contenu-serie conteneur conteneur-texte">
            <h1>
                <a class="u-url" href="">[Série] <span class="p-name">{{ PAGE_TITLE }}</span></a>
            </h1>

            {{ PAGE_CONTENT }}

            <p>
                La liste des articles :
            </p>

            {% for article in ARTICLES %}
                <article class="blog-article h-entry">
                    <time class="blog-article-date dt-published" datetime="{{ article.date() }}">{{ article.date().strftime("%d %b %Y") }}</time>
                    <a class="blog-article-titre u-url u-uid p-name" href="{{ article.url() }}">{{ article.title() }}</a>
                </article>
            {% endfor %}
        </main>

        <footer>
            <div class="conteneur">
                <p>
                    <a href="{{ SITE_URL }}mentions-legales.html">mentions légales</a>
                </p>

                <p>
                    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> · <a href="https://framagit.org/marienfressinaud/marienfressinaud.fr/">code source</a> · <a href="https://framagit.org/marienfressinaud/boop">généré avec Boop!</a>
                </p>
            </div>

            <form id="theme-changeur">
                <label for="theme">Thème</label>
                <select id="theme" name="theme">
                    <option value="auto">Auto</option>
                    <option value="clair">Clair</option>
                    <option value="sombre">Sombre</option>
                </select>
            </form>
        </footer>

        <div id="la-haut" class="entrecoupant">
            <button>Remonter</button>
        </div>
    </body>
</html>
